<!DOCTYPE html>
<html lang="en">

<head>
  <title>Predict Missed Appointments</title>
  <style>
  body {background-color: #badfe7; font-family:Verdana}
  h1 {color:#388087}
  h3 {color:#2b2a2a}
  p {color:#2b2a2a}
  </style>
</head>

<body>
  <h1>Predict Missed Appointments</h1>
  <p>Output the probability that a scheduled appointment will be missed.
  <form action="/predict">

    {% for f in site_dict %}
        <br>
        {{ f }}
        <br>
        <input type="text" name="{{ f }}" value="{{x_input[loop.index0]}}">
    {% endfor %}
    <br>
    <input type="submit" value="Submit" method="get">



  </form>

  <p>
    prediction:
    {% for p in prediction %}
      <br>  {{p['name']}}:{{ 100*p['prob'] | round(1) }}%
    {% endfor %}
  </p>
  <br>
  <br>
  		<a href="/">Home</a>
</body>

</html>
